body {
  background:#eff1fd;
}

table {
  border-collapse: collapse;
  width: 22em;
  border: -1px solid blue
}

.container {
  margin-top: 40px;
}

.card {
  border-radius: 12px;
  box-shadow: 3px 3px 10px #c3c3c3;
  margin-left: 20px;
}

.card-header {
  border-radius: 8px;
  background-color: white;
}

.card:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-right: 12px solid #ffffff;
  border-bottom: 11px solid transparent;
}

.box {
  width: 28%;
  float: left;
  height: 275px;/*Altura da linha*/
}

.card-container {
  padding-left: 0;
  right: 10px;
}

.product-table {
  margin-top: 10px;
}
 
.linha-vertical {
  border-right: 2px solid #d8d8d8;
  box-sizing: border-box;
}

.icon-check {
  background-image: url('./assets/images/icons/check\ .svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 45px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.sales-info {
  margin-right: 50px;
}

.icons {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px;
  padding-top: 20px;
  margin-right: 5px;
}

.icon-calendar {
  background-image: url('./assets/images/icons/calendar.svg');
}

.icon-clock {
  background-image: url('./assets/images/icons/clock.svg');
}

.icon-place {
  background-image: url('./assets/images/icons/place.svg');
}

.icon-money {
  background-image: url('./assets/images/icons/money.svg');
}
